body.day {
    background: url('../img/bg_day.jpg') no-repeat fixed center;
    background-size: cover;
}

body.sunrise {
    background: url('../img/bg_sunrise.jpg');
}

body.sunset {
    background: url('../img/bg_sunset.jpg');
}

body.night {
    background: url('../img/bg_night.jpg');
}

#myChart {
    background: #cfef8f;
    border: 1px solid #5353a3;
    border-radius: 23px;
}
